
h1{
	color: darkblue;
	height: ;
	padding: 10px;
	background-color: darkgray;
	margin: 0px;
	margin-bottom: 10px;
}
h2{
	color: darkred;
	margin: 0px;
	width: ;
	height: ;
	padding: 10px;
	background-color: lightgray;
}